<header>
  <div class="header">
<!-- position on left -->
      <div class="title">
        <p class="title_text"><%= link_to "LESSON CONNECTION", "/" %></p>
      </div>


<!-- position on right -->
    <div class="top_right_links">
    <p>
        <% if current_player %>
        <!-- can also have a link to lessons if logged in -->
          <%= link_to "PROFILE", current_player %>
          <%= link_to "COACHES", "/coaches" %>
          <%= link_to "PLAYERS", "/players" %>
          <%= link_to "LOG OUT", "/logout" %>
        <% else %>
          <%= link_to "SIGN UP", "/players/new" %>
          <%= link_to "LOG IN", "/login" %>
        <% end %>
      </p>
      </div>
    </div>
  </header>
